body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:610px;
  width:1500px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:7px;
  width:120px;
  height:76px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u4 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:830px;
  top:30px;
  width:100px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:960px;
  top:30px;
  width:100px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1090px;
  top:30px;
  width:100px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:160px;
  width:1200px;
  height:37px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:37px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:170px;
  top:270px;
  width:860px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:180px;
  top:277px;
  width:840px;
  height:90px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:90px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
