body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:446px;
  top:115px;
  width:335px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:195px;
  width:1180px;
  height:150px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:150px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:10px;
  top:7px;
  width:120px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:830px;
  top:30px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:960px;
  top:30px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1090px;
  top:30px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:-10px;
  top:2045px;
  width:1200px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:228px;
  top:358px;
  width:97px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:868px;
  top:355px;
  width:100px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:401px;
  width:561px;
  height:810px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:810px;
}
#u19 {
  position:absolute;
  left:2px;
  top:397px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:630px;
  top:401px;
  width:560px;
  height:810px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:810px;
}
#u21 {
  position:absolute;
  left:2px;
  top:397px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:332px;
  top:363px;
  width:17px;
  height:17px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:972px;
  top:361px;
  width:17px;
  height:17px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:631px;
  top:1240px;
  width:560px;
  height:260px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:260px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26_ann {
  position:absolute;
  left:1184px;
  top:1236px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:11px;
  top:1240px;
  width:560px;
  height:260px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:260px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27_ann {
  position:absolute;
  left:564px;
  top:1236px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:10px;
  top:1514px;
  width:1180px;
  height:470px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:470px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:39px;
  width:1180px;
  height:260px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:260px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:220px;
  top:329px;
  width:140px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:800px;
  top:329px;
  width:140px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:174px;
  top:0px;
  width:831px;
  height:37px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  white-space:nowrap;
}
#u28_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:470px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:620px;
  top:73px;
  width:560px;
  height:261px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:0px;
  top:73px;
  width:560px;
  height:261px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:195px;
  top:363px;
  width:180px;
  height:100px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:255px;
  top:388px;
  width:100px;
  height:15px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:255px;
  top:413px;
  width:100px;
  height:15px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:255px;
  top:438px;
  width:100px;
  height:15px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:820px;
  top:363px;
  width:180px;
  height:100px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:880px;
  top:388px;
  width:100px;
  height:15px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:880px;
  top:413px;
  width:100px;
  height:15px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:880px;
  top:438px;
  width:100px;
  height:15px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:540px;
  top:451px;
  width:100px;
  height:19px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:476px;
  top:4px;
  width:196px;
  height:28px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u58_ann {
  position:absolute;
  left:665px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:685px;
  top:11px;
  width:45px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:140px;
  top:42px;
  width:228px;
  height:21px;
  font-family:'Arial';
  font-weight:400;
  font-size:18px;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:772px;
  top:42px;
  width:217px;
  height:21px;
  font-family:'Arial';
  font-weight:400;
  font-size:18px;
  color:#000000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:21px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u28_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:470px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:476px;
  top:4px;
  width:182px;
  height:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u66_ann {
  position:absolute;
  left:651px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:665px;
  top:14px;
  width:45px;
  height:15px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:620px;
  top:73px;
  width:560px;
  height:261px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:0px;
  top:73px;
  width:560px;
  height:261px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:195px;
  top:363px;
  width:180px;
  height:100px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:255px;
  top:388px;
  width:100px;
  height:15px;
}
#u76 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u75_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u77 {
  position:absolute;
  left:255px;
  top:413px;
  width:100px;
  height:15px;
}
#u78 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u77_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u79 {
  position:absolute;
  left:255px;
  top:438px;
  width:100px;
  height:15px;
}
#u80 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u79_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u82 {
  position:absolute;
  left:820px;
  top:363px;
  width:180px;
  height:100px;
  text-align:left;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:880px;
  top:388px;
  width:100px;
  height:15px;
}
#u85 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u84_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86 {
  position:absolute;
  left:880px;
  top:413px;
  width:100px;
  height:15px;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u86_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88 {
  position:absolute;
  left:880px;
  top:438px;
  width:100px;
  height:15px;
}
#u89 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u88_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90 {
  position:absolute;
  left:540px;
  top:451px;
  width:100px;
  height:19px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:140px;
  top:42px;
  width:228px;
  height:21px;
  font-family:'Arial';
  font-weight:400;
  font-size:18px;
  color:#000000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:21px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:772px;
  top:42px;
  width:217px;
  height:21px;
  font-family:'Arial';
  font-weight:400;
  font-size:18px;
  color:#000000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:21px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u28_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:470px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  position:absolute;
  left:540px;
  top:230px;
  width:100px;
  height:19px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:761px;
  top:133px;
  width:127px;
  height:16px;
  text-align:center;
}
#u100 {
  position:absolute;
  left:2px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_input {
  position:absolute;
  left:110px;
  top:-2px;
}
#u101 {
  position:absolute;
  left:270px;
  top:133px;
  width:137px;
  height:16px;
  text-align:right;
}
#u102 {
  position:absolute;
  left:2px;
  top:0px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_input {
  position:absolute;
  left:120px;
  top:-2px;
}
#u103 {
  position:absolute;
  left:350px;
  top:133px;
  width:137px;
  height:16px;
  text-align:right;
}
#u104 {
  position:absolute;
  left:2px;
  top:0px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_input {
  position:absolute;
  left:120px;
  top:-2px;
}
#u105 {
  position:absolute;
  left:550px;
  top:133px;
  width:17px;
  height:16px;
  text-align:right;
}
#u106 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_input {
  position:absolute;
  left:0px;
  top:-2px;
}
#u107 {
  position:absolute;
  left:630px;
  top:133px;
  width:17px;
  height:16px;
  text-align:right;
}
#u108 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_input {
  position:absolute;
  left:0px;
  top:-2px;
}
#u109 {
  position:absolute;
  left:713px;
  top:133px;
  width:17px;
  height:16px;
  text-align:right;
}
#u110 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:0px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:791px;
  top:133px;
  width:17px;
  height:16px;
  text-align:right;
}
#u112 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_input {
  position:absolute;
  left:0px;
  top:-2px;
}
#u113 {
  position:absolute;
  left:360px;
  top:88px;
  width:80px;
  height:15px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:849px;
  top:88px;
  width:61px;
  height:15px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:396px;
  top:108px;
  width:11px;
  height:15px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:877px;
  top:108px;
  width:24px;
  height:15px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:477px;
  top:108px;
  width:11px;
  height:15px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:556px;
  top:108px;
  width:11px;
  height:15px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:636px;
  top:108px;
  width:11px;
  height:15px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:717px;
  top:108px;
  width:11px;
  height:15px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:797px;
  top:108px;
  width:11px;
  height:15px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:412px;
  top:50px;
  width:508px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:24px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:28px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u131_ann {
  position:absolute;
  left:913px;
  top:46px;
  width:1px;
  height:1px;
}
