body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:446px;
  top:110px;
  width:335px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:190px;
  width:1180px;
  height:150px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:150px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:10px;
  top:7px;
  width:120px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:830px;
  top:30px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:960px;
  top:30px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1090px;
  top:30px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:630px;
  top:1590px;
  width:560px;
  height:261px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:10px;
  top:1590px;
  width:560px;
  height:261px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:230px;
  top:367px;
  width:97px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:870px;
  top:364px;
  width:100px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:208px;
  top:2070px;
  width:140px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:851px;
  top:2070px;
  width:140px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:2190px;
  width:1500px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:410px;
  width:561px;
  height:810px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:810px;
}
#u25 {
  position:absolute;
  left:2px;
  top:397px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:630px;
  top:410px;
  width:560px;
  height:810px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:810px;
}
#u27 {
  position:absolute;
  left:2px;
  top:397px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:334px;
  top:372px;
  width:17px;
  height:17px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:974px;
  top:370px;
  width:17px;
  height:17px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:1580px;
  overflow:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:1580px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:-350px;
  top:-270px;
  width:1550px;
  height:1570px;
  opacity:0.8;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:1570px;
}
#u35 {
  position:absolute;
  left:2px;
  top:777px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:230px;
  top:50px;
  width:740px;
  height:340px;
  opacity:0.8;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:340px;
}
#u37 {
  position:absolute;
  left:2px;
  top:162px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:390px;
  top:118px;
  width:457px;
  height:32px;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:760px;
  top:278px;
  width:100px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:390px;
  top:278px;
  width:100px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u32_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:1580px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:-350px;
  top:-270px;
  width:1550px;
  height:1570px;
  opacity:0.8;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:1570px;
}
#u46 {
  position:absolute;
  left:2px;
  top:777px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:230px;
  top:50px;
  width:740px;
  height:340px;
  opacity:0.8;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:340px;
}
#u48 {
  position:absolute;
  left:2px;
  top:162px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:319px;
  top:120px;
  width:442px;
  height:32px;
  font-size:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:664px;
  top:278px;
  width:100px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:319px;
  top:278px;
  width:100px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:630px;
  top:1280px;
  width:560px;
  height:260px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:260px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:10px;
  top:1280px;
  width:560px;
  height:260px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:260px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:200px;
  top:1932px;
  width:180px;
  height:100px;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:260px;
  top:1957px;
  width:100px;
  height:15px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62 {
  position:absolute;
  left:260px;
  top:1982px;
  width:100px;
  height:15px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:260px;
  top:2007px;
  width:100px;
  height:15px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:831px;
  top:1932px;
  width:180px;
  height:100px;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:891px;
  top:1957px;
  width:100px;
  height:15px;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:891px;
  top:1982px;
  width:100px;
  height:15px;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  position:absolute;
  left:891px;
  top:2007px;
  width:100px;
  height:15px;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u73_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
