body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:446px;
  top:110px;
  width:335px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:190px;
  width:1180px;
  height:150px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:150px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:10px;
  top:7px;
  width:120px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:830px;
  top:30px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:960px;
  top:30px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1090px;
  top:30px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:630px;
  top:390px;
  width:560px;
  height:261px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:10px;
  top:390px;
  width:560px;
  height:261px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:261px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:-10px;
  top:1980px;
  width:1200px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:1580px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:1580px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:-350px;
  top:-270px;
  width:1550px;
  height:1570px;
  opacity:0.8;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:1570px;
}
#u19 {
  position:absolute;
  left:2px;
  top:777px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:230px;
  top:50px;
  width:740px;
  height:340px;
  opacity:0.8;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:340px;
}
#u21 {
  position:absolute;
  left:2px;
  top:162px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:390px;
  top:118px;
  width:457px;
  height:32px;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:760px;
  top:278px;
  width:100px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:390px;
  top:278px;
  width:100px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u16_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:1580px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:-350px;
  top:-270px;
  width:1550px;
  height:1570px;
  opacity:0.8;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:1570px;
}
#u30 {
  position:absolute;
  left:2px;
  top:777px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:230px;
  top:50px;
  width:740px;
  height:340px;
  opacity:0.8;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:340px;
}
#u32 {
  position:absolute;
  left:2px;
  top:162px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:319px;
  top:120px;
  width:442px;
  height:32px;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:664px;
  top:278px;
  width:100px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:319px;
  top:278px;
  width:100px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:329px;
  top:715px;
  width:140px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:969px;
  top:715px;
  width:140px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:87px;
  top:680px;
  width:180px;
  height:100px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:147px;
  top:705px;
  width:100px;
  height:15px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:147px;
  top:730px;
  width:100px;
  height:15px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:147px;
  top:755px;
  width:100px;
  height:15px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:727px;
  top:680px;
  width:180px;
  height:100px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:787px;
  top:705px;
  width:100px;
  height:15px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:787px;
  top:730px;
  width:100px;
  height:15px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:787px;
  top:755px;
  width:100px;
  height:15px;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:227px;
  top:803px;
  width:97px;
  height:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:867px;
  top:800px;
  width:100px;
  height:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:9px;
  top:846px;
  width:561px;
  height:810px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:810px;
}
#u66 {
  position:absolute;
  left:2px;
  top:397px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:629px;
  top:846px;
  width:560px;
  height:810px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:810px;
}
#u68 {
  position:absolute;
  left:2px;
  top:397px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:331px;
  top:808px;
  width:17px;
  height:17px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u70 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:971px;
  top:806px;
  width:17px;
  height:17px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u72 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:630px;
  top:1685px;
  width:560px;
  height:260px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:260px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:10px;
  top:1685px;
  width:560px;
  height:260px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:260px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
