body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1213px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:1050px;
  top:20px;
  width:100px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:630px;
  top:24px;
  width:200px;
  height:22px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3_input:disabled {
  color:grayText;
}
#u4 {
  position:absolute;
  left:890px;
  top:20px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:7px;
  width:120px;
  height:76px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:276px;
  width:973px;
  height:155px;
}
.u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
.u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
.u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11 {
  position:absolute;
  left:209px;
  top:0px;
  width:161px;
  height:30px;
}
.u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
.u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
.u13 {
  position:absolute;
  left:370px;
  top:0px;
  width:170px;
  height:30px;
}
.u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
.u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15 {
  position:absolute;
  left:540px;
  top:0px;
  width:200px;
  height:30px;
}
.u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
.u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17 {
  position:absolute;
  left:911px;
  top:3px;
  width:29px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
.u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
.u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u19 {
  position:absolute;
  left:950px;
  top:0px;
  width:23px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
.u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
.u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
.u21 {
  position:absolute;
  left:740px;
  top:0px;
  width:123px;
  height:30px;
}
.u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
.u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
.u23 {
  position:absolute;
  left:863px;
  top:0px;
  width:38px;
  height:30px;
}
.u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
.u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:498px;
  top:118px;
  width:207px;
  height:37px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:37px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:240px;
  top:244px;
  width:901px;
  height:30px;
}
.u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
.u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
.u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
.u30 {
  position:absolute;
  left:209px;
  top:0px;
  width:161px;
  height:30px;
}
.u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
.u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
.u32 {
  position:absolute;
  left:370px;
  top:0px;
  width:170px;
  height:30px;
}
.u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
.u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
.u34 {
  position:absolute;
  left:540px;
  top:0px;
  width:200px;
  height:30px;
}
.u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
.u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u36 {
  position:absolute;
  left:740px;
  top:0px;
  width:123px;
  height:30px;
}
.u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
.u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
.u38 {
  position:absolute;
  left:863px;
  top:0px;
  width:38px;
  height:30px;
}
.u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
.u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_ann {
  position:absolute;
  left:1134px;
  top:240px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:616px;
  top:8px;
  width:238px;
  height:100px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:100px;
}
#u41 {
  position:absolute;
  left:2px;
  top:42px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
