body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1192px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:-34px;
  width:1192px;
  height:809px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:809px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:809px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:809px;
  opacity:0.5;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:809px;
}
#u6 {
  position:absolute;
  left:2px;
  top:396px;
  width:1188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:222px;
  top:262px;
  width:580px;
  height:245px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:245px;
}
#u8 {
  position:absolute;
  left:2px;
  top:114px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:466px;
  top:310px;
  width:93px;
  height:37px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:777px;
  top:268px;
  width:18px;
  height:20px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:310px;
  top:372px;
  width:404px;
  height:45px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:45px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:140px;
  top:37px;
  width:371px;
  height:23px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:23px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:61px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:61px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:1187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:653px;
  top:0px;
  width:538px;
  height:51px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:51px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:653px;
  top:16px;
  width:87px;
  height:29px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:779px;
  top:16px;
  width:105px;
  height:29px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u23_ann {
  position:absolute;
  left:877px;
  top:12px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:1059px;
  top:16px;
  width:96px;
  height:29px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:924px;
  top:16px;
  width:96px;
  height:29px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:410px;
  top:231px;
  width:65px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:410px;
  top:266px;
  width:83px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:410px;
  top:345px;
  width:34px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:410px;
  top:375px;
  width:58px;
  height:15px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:550px;
  top:231px;
  width:200px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:550px;
  top:261px;
  width:200px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:550px;
  top:340px;
  width:200px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:550px;
  top:370px;
  width:200px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:410px;
  top:419px;
  width:100px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:410px;
  top:296px;
  width:74px;
  height:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:550px;
  top:291px;
  width:200px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
