body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:7px;
  width:120px;
  height:76px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:730px;
  top:30px;
  width:100px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:850px;
  top:30px;
  width:100px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1090px;
  top:30px;
  width:100px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:140px;
  top:37px;
  width:371px;
  height:23px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:970px;
  top:30px;
  width:100px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:140px;
  top:10px;
  width:410px;
  height:73px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:73px;
}
#u14 {
  position:absolute;
  left:2px;
  top:28px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:466px;
  top:150px;
  width:267px;
  height:32px;
  font-size:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:32px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u15_ann {
  position:absolute;
  left:726px;
  top:146px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:494px;
  top:230px;
  width:210px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u17_ann {
  position:absolute;
  left:697px;
  top:226px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:494px;
  top:270px;
  width:210px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:494px;
  top:310px;
  width:210px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:400px;
  width:1500px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
