body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:7px;
  width:120px;
  height:76px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:852px;
  top:22px;
  width:97px;
  height:29px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:610px;
  top:22px;
  width:97px;
  height:29px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:-80px;
  top:53px;
  width:1200px;
  height:37px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:170px;
  top:130px;
  width:700px;
  height:630px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:630px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:170px;
  top:130px;
  width:690px;
  height:600px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:600px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
