body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:68px;
  top:70px;
  width:782px;
  height:105px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:105px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:68px;
  top:190px;
  width:642px;
  height:275px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:275px;
}
#u4 {
  position:absolute;
  left:2px;
  top:130px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:68px;
  top:485px;
  width:782px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:60px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:68px;
  top:30px;
  width:258px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
